<nav class="align-items-start aside bg-light navbar">
    <div class="d-flex flex-column w-100 h-100 overflow-auto">
        <a class="navbar-brand" href="#"><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
                alt="logo"></a>
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><span class="material-symbols-outlined">
                        insert_chart
                    </span>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="material-symbols-outlined">
                        forum
                    </span>Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="assignment" href="index.html"><span class="material-symbols-outlined">
                        assignment
                    </span>Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="material-symbols-outlined">
                        video_library
                    </span>Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="admin" href="admin.html"><span class="material-symbols-outlined">
                        group
                    </span>Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="material-symbols-outlined">
                        settings
                    </span>Settings</a>
            </li>
        </ul>
        <a class="nav-link d-flex mt-auto align-items-center" href="#">
            <div class="overflow-hidden me-3 rounded-circle" style="width: 40px;height: 40px;"><img class="img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt=""></div>
            <div>
                <h3 class="fs-6 mb-1 fw-bold">Andy Chen</h3>
                <span class="text-gray-600">andy0401@mail.com</span>
            </div>
        </a>
    </div>
</nav>